<section class="post-comments wow fadeInUp" data-wow-duration=".8s">
  <div id="disqus_thread"></div>

  <script type="text/javascript">
    // Use the post.id as indentifier
    var disqus_identifier = '{{comment_id}}';
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
</section>
