<footer class="site-footer">
  <div class="copyright">
    &copy; <a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}}. Proudly published with <a href="https://ghost.org">Ghost</a>
  </div>

  <a href="#" class="scroll-top">Going up?</a>
</footer>
