<nav class="pagination" role="pagination">
  <ul>
    {{#if prev}}
      <li class="prev"><a href="{{page_url prev}}">Back</a></li>
    {{/if}}
    {{#if next}}
      <li class="next"><a href="{{page_url next}}">Next</a></li>
    {{/if}}
  </ul>
</nav>
