<section class="widget">
  <ul class="widget-share">
    <li class="share-item twitter">
      <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><span class="icon-twitter"></span></a>
    </li>
    <li class="share-item facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><span class="icon-facebook"></span></a>
    </li>
    <li class="share-item google-plus">
      <a href="https://plus.google.com/share?url={{url absolute="true"}}"
         onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><span class="icon-google-plus"></span></a>
    </li>
  </ul>
</section>
