@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot');
  src: url('fonts/icons.eot#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf') format('truetype'),
    url('fonts/icons.woff') format('woff'),
    url('fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-website:before {
    content: "\e779";
}
.icon-featured:before {
    content: "\e7d2";
}
.icon-location:before {
    content: "\e87c";
}
.icon-google-plus:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-spotify:before {
    content: "\e903";
}
.icon-twitter:before {
    content: "\e904";
}
.icon-rss:before {
    content: "\e905";
}
.icon-youtube:before {
    content: "\e906";
}
.icon-twitch:before {
    content: "\e907";
}
.icon-vimeo:before {
    content: "\e908";
}
.icon-flickr:before {
    content: "\e909";
}
.icon-dribbble:before {
    content: "\e90a";
}
.icon-behance:before {
    content: "\e90b";
}
.icon-github:before {
    content: "\e90c";
}
.icon-tumblr:before {
    content: "\e90d";
}
.icon-soundcloud:before {
    content: "\e90e";
}
.icon-skype:before {
    content: "\e90f";
}
.icon-reddit:before {
    content: "\e910";
}
.icon-linkedin:before {
    content: "\e911";
}
.icon-lastfm:before {
    content: "\e912";
}
.icon-delicious:before {
    content: "\e913";
}
.icon-stackoverflow:before {
    content: "\e914";
}
.icon-pinterest:before {
    content: "\e915";
}
.icon-codepen:before {
    content: "\e916";
}
.icon-vk:before {
    content: "\e917";
}
.icon-ello:before {
    content: "\e918";
}
.icon-posts:before {
    content: "\e91a";
}
.icon-clock:before {
    content: "\e014";
}
.icon-search:before {
    content: "\e036";
}
.icon-arrow-left:before {
    content: "\e094";
}
.icon-arrow-right:before {
    content: "\e095";
}
.icon-arrow-up:before {
    content: "\e096";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-vine:before {
    content: "\ea97";
}
